#prof
	id = 1
	name = P1.
#end

#prof
	id = 2
	name = P2.
#end

#prof
	id = 3
	name = P3.
#end

#prof
	id = 4
	name = P4.
#end

#prof
	id = 5
	name = P5.
#end

#prof
	id = 6
	name = P6.
#end

#prof
	id = 7
	name = P7.
#end

#prof
	id = 8
	name = P8.
#end

#prof
	id = 9
	name = P9.
#end

#prof
	id = 10
	name = P10.
#end

#prof
	id = 11
	name = P11.
#end

#prof
	id = 12
	name = P12.
#end

#prof
	id = 13
	name = P13.
#end

#course
	id = 1
	name = C1
#end

#course
	id = 2
	name = C2
#end

#course
	id = 3
	name = C3
#end

#course
	id = 4
	name = C4
#end

#course
	id = 5
	name = C5
#end

#course
	id = 6
	name = C6
#end

#course
	id = 7
	name =C7
#end

#course
	id = 8
	name = C8
#end

#course
	id = 9
	name = C9
#end

#course
	id = 10
	name = C10
#end

#course
	id = 11
	name = C11
#end

#room
	name = R48
	lab = false
	size = 24
#end

#room
	name = R53
	lab = true
	size = 60
#end

#room
	name = R50
	lab = true
	size = 60
#end

#room
	name = R13
	lab = true
	size = 60
#end

#group
	id = 1
	name = KM/1
	size = 19
#end

#group
	id = 2
	name = KM/2
	size = 19
#end

#group
	id = 3
	name = KM/3
	size = 19
#end

#group
	id = 4
	name = KM/4
	size = 19
#end

#class
	professor = 8
	course = 6
	duration = 1
	group = 1
#end

#class
	professor = 4
	course = 6
	duration = 1
	group = 1
#end

#class
	professor = 4
	course = 6
	duration = 1
	group = 1
	lab = true
#end

#class
	professor = 4
	course = 6
	duration = 1
	group = 1
	lab = true
#end

#class
	professor = 3
	course = 5
	duration = 1
	group = 1
#end

#class
	professor = 3
	course = 5
	duration = 1
	group = 1
#end

#class
	professor = 10
	course = 8
	duration = 1
	group = 2
	lab = true
#end

#class
	professor = 10
	course = 8
	duration = 1
	group = 2
#end

#class
	professor = 4
	course = 4
	duration = 2
	group = 2
	lab = true
#end

#class
	professor = 3
	course = 2
	duration = 1
	group = 2
#end

#class
	professor = 7
	course = 9
	duration = 1
	group = 3
#end

#class
	professor = 7
	course = 9
	duration = 1
	group = 3
#end

#class
	professor = 7
	course = 9
	duration = 1
	group = 3
#end

#class
	professor = 5
	course = 7
	duration = 2
	group = 3
	lab = true
#end

#class
	professor = 3
	course = 3
	duration = 1
	group = 3
#end

#class
	professor = 3
	course = 3
	duration = 1
	group = 3
#end

#class
	professor = 9
	course = 10
	duration = 2
	group = 4
#end

#class
	professor = 9
	course = 10
	duration = 1
	group = 4
#end

#class
	professor = 2
	course = 1
	duration = 1
	group = 4
#end

#class
	professor = 2
	course = 1
	duration = 1
	group = 4
	lab = true
#end

#class
	professor = 7
	course = 11
	duration = 1
	group = 4
#end

#class
	professor = 7
	course = 11
	duration = 1
	group = 4
#end